@import "./global";
.watch__container {
  display: flex;
  height: 90vh;
}
.watch__main {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 56px;
  background-color: $black-primary;
}
@media (max-width: $breakpoint-medium) {
  .watch__main {
    width: calc(100vw) !important;
    position: relative;
  }
}
@media (max-width: $breakpoint-small) {
  .watch__main {
    width: 100% !important;
    position: relative;
  }
}
